.friends-button , .calendar-button, .info-button{
  background-position: center;
  background-size: 3.4vw;
  border: none;
  display: inline;
  height: 3.4vw;
  margin-right: 1vw;
  width: 3.4vw;
}

.trending-button, .go-back-button {
  background-position: center;
  background-size: 3.4vw;
  border: none;
  height: 3.4vw;
  margin-left: 1vw;
  width: 3.4vw;
}

.steps-go-back-button {
  background-image: url(../images/steps-goback.png);
}

.steps-info-button {
  background-image: url(../images/steps-info.png);
}

.steps-friends-button {
  background-image: url(../images/steps-friends.png);
}

.steps-calendar-button {
  background-image: url(../images/steps-calendar.png);
}

.hydration-go-back-button {
  background-image: url(../images/hydration-goback.png);
}

.hydration-info-button {
  background-image: url(../images/hydration-info.png);
}

.hydration-friends-button {
  background-image: url(../images/hydration-friends.png);
}

.hydration-calendar-button {
  background-image: url(../images/hydration-calendar.png);
}

.stairs-go-back-button {
  background-image: url(../images/stairs-goback.png);
}

.stairs-info-button {
  background-image: url(../images/stairs-info.png);
}

.stairs-friends-button {
  background-image: url(../images/stairs-friends.png);
}

.stairs-calendar-button {
  background-image: url(../images/stairs-calendar.png);
}

.sleep-go-back-button {
  background-image: url(../images/sleep-goback.png);
}

.sleep-info-button {
  background-image: url(../images/sleep-info.png);
}

.sleep-friends-button {
  background-image: url(../images/sleep-friends.png);
}

.sleep-calendar-button {
  background-image: url(../images/sleep-calendar.png);
}


.steps-trending-button {
  background-image: url(../images/steps-trending.png);
}

.stairs-trending-button {
  background-image: url(../images/stairs-trending.png);
}
